.bgHome {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Courier New', sans-serif;
    color: #008647;
}